<app-header-back></app-header-back>

<ion-content padding fullscreen>
    <h3 class="title-content">What topics ?</h3>
    <ion-list>
        <ion-radio-group name="auto" (ionChange)="onChangedRadioGroup($event)">
            <ion-item *ngFor="let chooseItem of items">
                <ion-label>{{chooseItem.name}}</ion-label>
                <ion-radio [value]="chooseItem.value"></ion-radio>
            </ion-item>
        </ion-radio-group>
    </ion-list>
    <ion-fab vertical="bottom" horizontal="center" slot="fixed" >
        <ion-button size="large" color="primary" horizontal="center" style="margin-left: -48px;" (click)="onClickValidate()">Validate</ion-button>
    </ion-fab>
</ion-content>
