<app-header-back></app-header-back>

<ion-content fullscreen *ngIf="data" >
  <ion-card class="ion-no-margin" style="border-radius: 0px">
    <img [src]="data.picture"/>
    <ion-card-header>
      <ion-card-title>{{data.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{data.description}}</ion-card-content>
    <ion-list lines="none">
      <ion-item>
        <ion-label>{{ data.dateEvent | date : "EEEE d MMMM - H:mm" }}</ion-label>
        <ion-icon slot="start" name="calendar"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>{{ data.city}}, {{data.place}}</ion-label>
        <ion-icon slot="start" name="pin"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>{{data.communityName}}</ion-label>
        <ion-icon slot="start" name="contacts"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
