<app-header-back></app-header-back>

<ion-content padding fullscreen>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">First Name <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text" [placeholder]="activeMembre.firstname" [(ngModel)]="activeMembre.firstname"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Last Name <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text" [placeholder]="activeMembre.lastname" [(ngModel)]="activeMembre.lastname"></ion-input>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed" >
      <ion-button size="large" color="primary" horizontal="center" style="margin-left: -48px;" (click)="onClickSubmit()">Submit</ion-button>
  </ion-fab>
</ion-content>
