<app-header-back></app-header-back>

<ion-content padding fullscreen>
  <h3 class="title-content">Ergonomics application settings</h3>

  <ion-list>
    <ion-item> <!-- disable Next/Previous button (my-schedule.page.ts and past-event.page.ts)-->
      <ion-toggle checked slot="end" color="primary"></ion-toggle>
      <ion-label>Enable swipe button help</ion-label>
    </ion-item>
    <ion-item> <!-- disable Up/Down button (search.page.ts)-->
      <ion-toggle checked slot="end" color="primary"></ion-toggle>
      <ion-label>Enable scroll button help</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Color application</ion-label> <!--Change variable themes/varibles.scss-->
      <ion-select [interfaceOptions]="customPopoverOptions" interface="popover">
        <ion-select-option selected value="orangeWhite">Orange/White</ion-select-option>
        <ion-select-option value="blueWhite">Blue/White</ion-select-option>
        <ion-select-option value="purpleWhite">Purple/White</ion-select-option>
        <ion-select-option value="blackWhite">Black/White</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-toggle checked slot="end" color="primary"></ion-toggle>
      <ion-label>Notifications</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
