<ion-header translucent>
  <ion-toolbar>
    <ion-img id="header-logo" src="assets/img/logo.png"></ion-img>
    <ion-text slot="end" color="secondary" class="header-toolbar-date">{{ dateNow | date:'EEEE d MMMM  H:mm' }}</ion-text>
  </ion-toolbar>
</ion-header>