<app-header></app-header>

<ion-content padding fullscreen>
    <ion-grid class="grid">
        <ion-row>
            <ion-col size="7">
            <h3 class="title-content">Your groups</h3>
            </ion-col>
            <ion-col size="4">
            <ion-button class="ion-no-margin" size="small" shape="round" fill="outline" (click)="onClickAddGroups()"> Add groups<ion-icon name="add"></ion-icon></ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid style="text-align: center">
        <ion-row >
            <ion-col size="6" *ngFor="let groupCard of groups">
                <ion-card class="card-shadow">
                    <img (click)="onClickGroupCard($event)" style="cursor: pointer;" [src]="groupCard.picture">
                </ion-card>
                <ion-label>{{groupCard.name}}</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
