ion-card .card-badge{
    position: absolute;
    right: 0px;
    bottom: 0px;
    border-top-left-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    background: white;
    color:var(--ion-color-secondary-contrast);
}

.title-content{
    font-weight:bold;
    color:var(--ion-color-primary);
}
.card-title{
    font-weight:bold;
    text-align: center;
    margin-top:0px;
}
.card-subtitle{
    font-size:16px;
    text-align: left;
}
.grid{
    padding-bottom: 0px;
    padding-top:0px;
    margin-top:-8px;
}
.schedule-no-margin-top{
    margin-top: 0px;
}
.schedule-no-padding{
    padding-top:0px;
    padding-bottom:0px;
}
.map-position{
    top:80%;
    right:77%;
}
.schedule-card{
    margin-top:0px;
    width:80%;
    margin-left:29px;
}
.ion-card-subtitle{
    font-size:18px;
    color:black;
}
ion-card-header{
    cursor: pointer;
}