<ion-list class="schedule-no-padding">
  <!-- Card -->
  <ion-slides (ionSlideNextStart)="checkActiveIndex()" (ionSlidePrevStart)="checkActiveIndex()">
    <ion-slide *ngFor="let eventCard of eventsJson" >
      <ion-card  slot="center" class="card-shadow schedule-card">
        <ion-card-header (click)="onClickCard(eventCard)">
          <ion-grid>
            <ion-row>
              <ion-col size="1">
                  <ion-icon name="calendar"></ion-icon>
              </ion-col>
              <ion-col size="11">
                <ion-card-subtitle class="card-subtitle">
                  {{ ((eventCard.dateEvent+timeOffset*60)*1000) | date:'EEEE d MMMM - H:mm' }}
                </ion-card-subtitle>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-card-title class="card-title">{{ eventCard.title }} </ion-card-title>
        </ion-card-header>
        <!-- diffDate() Display time remaining--> 
          <div *ngIf="pastEvent==false" class="card-badge">{{diffDate(eventCard.dateEvent)}}</div>
        <!---->
        <img [src]="eventCard.picture" />
        <!-- Map button -->
          <ion-fab class="map-position">
            <ion-fab-button (click)="onClickMap()">
              <ion-icon name="map"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        <!---->
      </ion-card>
    </ion-slide>
  </ion-slides>
  <!---->
</ion-list>


<ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col  class="schedule-no-padding">
        <ion-button  [style.display]="displayPreviousButton" shape="round" color="primary" (click)="onPreviousClick()">Previous
          <ion-icon slot="start" name="arrow-round-back"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col  class="schedule-no-padding ion-text-end">
        <ion-button [style.display]="displayNextButton" shape="round" color="primary" (click)="onNextClick()">Next
          <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
</ion-grid>
