<app-header></app-header>

<ion-content fullscreen padding>
    
  <!-- Label & add event -->
  <ion-grid class="grid">
      <ion-row>
        <ion-col size="5">
          <ion-button class="ion-no-margin" size="small" shape="round" fill="outline" (click)="onClickItinary()">
            <ion-icon name="arrow-back"></ion-icon> Past Events 
          </ion-button>
        </ion-col>
        <ion-col size="7">
          <h3 class="title-content">Upcoming Event</h3>
        </ion-col>
        
      </ion-row>
  </ion-grid>
  
  <app-slides [pastEvent]="pastEvent"></app-slides><!-- PastEvent is false-->
    
</ion-content>
