<app-header-back></app-header-back>

<ion-content fullscreen>
  <ion-card class="ion-no-margin" style="border-radius: 0px">
    <img src="assets/img/vue.jpg"/>
    <ion-card-header>
      <ion-card-subtitle>Lorem ipsum dolor sit amet consectetur</ion-card-subtitle>
      <ion-card-title>Lorem ipsum dolor sit</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
    <ion-list lines="none">
      <ion-item>
        <ion-label>Friday 12 june, 15:00 - 18:00 </ion-label>
        <ion-icon slot="start" name="calendar"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>5562 avenue Dorions, Montréal 3X5 2K1, Québec</ion-label>
        <ion-icon slot="start" name="pin"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>Communauté des randonneurs de Québec</ion-label>
        <ion-icon slot="start" name="contacts"></ion-icon>
      </ion-item>
    </ion-list>
  
    
  </ion-card>
</ion-content>
