<ion-tabs>
  <ion-tab-bar slot="bottom">
    <!-- Component Tabs My Schedule -->
    <ion-tab-button tab="my-schedule">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>My Events</ion-label>
    </ion-tab-button>
    <!-- Component Tabs My Groups -->
    <ion-tab-button tab="my-groups">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>My groups</ion-label>
    </ion-tab-button>
    <!-- Component Tabs Search Events -->
    <ion-tab-button tab="search-events">
      <ion-icon name="search"></ion-icon>
      <ion-label>Search events</ion-label>
    </ion-tab-button>
    <!-- Component Tabs My Settings -->
    <ion-tab-button tab="my-settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>My settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>