<app-header-back></app-header-back>

<ion-content padding fullscreen>
  <ion-searchbar color="primary" placeholder="Search an Event by name"></ion-searchbar>
  <h3 class="title-content search-title">(15) events (today) in (Montréal)</h3> <!--exemple à modifier en fonction du résultat de la recherche-->

  <ion-item *ngFor="let eventRetrieved of events">
    <ion-thumbnail slot="start">
      <img [src]="eventRetrieved.picture">
    </ion-thumbnail>
    <ion-label>
      <h2 class="wrap">{{eventRetrieved.title}}</h2>
      <p>{{eventRetrieved.dateEvent}}</p>
      <p>{{eventRetrieved.place}} in {{eventRetrieved.city}}</p>
      <ion-button fill="outline" slot="end" (click)="onClickView()">View</ion-button>
    </ion-label>
  </ion-item>

    <!-- fab placed to the bottom end -->
    <ion-fab vertical="top" horizontal="end" slot="fixed" style="top: 430px;">
      <ion-fab-button color="primary" (click)="onClickScrollToTop()">
        <ion-icon name="arrow-round-up"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <!-- fab placed to the top start -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="primary" (click)="onClickScrollToBottom()">
        <ion-icon name="arrow-round-down"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
