<app-header></app-header>

<ion-content padding fullscreen>
    <ion-grid class="grid">
      <ion-row>
          <ion-col size="7">
            <h3 class="title-content">Search an event</h3>
          </ion-col>
      </ion-row>
      <ion-row>
        <ion-list>
            <ion-item lines="none">
                <ion-text style="text-decoration: underline black">Search an event by name :</ion-text>
            </ion-item>
        </ion-list>
      </ion-row>
      <ion-row>
        <ion-searchbar color="primary" placeholder="Search an Event by name" ></ion-searchbar>
      </ion-row>
      <ion-row style="margin-top:10%;">
        <ion-list>
          <ion-item lines="none">
            <ion-text style="text-decoration: underline black" >Discover events :</ion-text>
          </ion-item>
        </ion-list>
      </ion-row>
    <ion-row> 
        
      <ion-list lines="none">
        <ion-item>
          <ion-grid>
            <ion-row>
                <ion-text>You want to go out </ion-text>
            </ion-row>
            <ion-row>
              <ion-button fill="clear" class="button-search" (click)="onClickWhen()">
                <ion-text>{{chooseWhenValue}}</ion-text>
              </ion-button>
            </ion-row>
          </ion-grid>
          
        </ion-item>
        <ion-item>
          <ion-text>In </ion-text><br>
          <ion-button fill="clear" class="button-search" (click)="onClickWhere()">
            <ion-text>{{chooseWhereValue}} </ion-text>
          </ion-button><ion-text>,</ion-text><br>
        </ion-item>
        <ion-item>
          <ion-text>And I'm looking for </ion-text><br>
          <ion-button fill="clear" class="button-search" (click)="onClickWhat()">
            <ion-text>{{chooseWhatValue}}</ion-text>
          </ion-button><ion-text>.</ion-text><br>
        </ion-item>
      </ion-list>
    </ion-row>
  </ion-grid>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-label class="research-button">Research</ion-label>
    <ion-fab-button (click)="onClickArrow()">
      <ion-icon name="arrow-round-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
