<app-header></app-header>
 
<ion-content fullscreen padding>
 
  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input type="email" placeholder="Email" [(ngModel)]="user.email"></ion-input>
  </ion-item>
 
  <ion-item>
    <ion-label position="stacked">Password</ion-label>
    <ion-input type="password" placeholder="Password" [(ngModel)]="user.password"></ion-input>
  </ion-item>
 
  <ion-button expand="block" (click)="prosesLogin()">Sign In</ion-button>
  <ion-button expand="block" (click)="registration()">Create an account?</ion-button>
  <!-- @todo-->
  <ion-button (click)="forgotUsername()">Forgot Username?</ion-button>
  <ion-button (click)="forgotPassword()">Forgot Password?</ion-button>
</ion-content>