// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.


h3.title-content{
    font-weight:bold;
    color:var(--ion-color-primary);
    margin-top: 0px;
}
.card-shadow{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12) !important;
}
.search-title {
    border-bottom: solid 2px;
    padding-bottom: 14px;
    font-size: 20px;
    margin-top: 10px;
    text-align:center;
    color: var(--ion-color-secondary) !important;
}