<app-header-back></app-header-back>

<ion-content padding fullscreen>
  <h3 class="title-content">All your old event</h3>

  <app-slides [pastEvent]="pastEvent"></app-slides> <!--PastEvent is true-->
</ion-content>
