<app-header-back></app-header-back>

<ion-content padding fullscreen>
  <ion-searchbar color="primary" placeholder="Search an Event by name"></ion-searchbar>
  <h3 class="title-content search-title">(15) groups in (Montréal)</h3>
  <ion-item *ngFor="let groupRetrieved of groups">
    <ion-thumbnail slot="start">
      <img [src]="groupRetrieved.picture">
    </ion-thumbnail>
    <ion-label>
      <h2 class="wrap">{{groupRetrieved.name}}</h2>
      <p>{{groupRetrieved.topics}}</p>
      <p>{{groupRetrieved.place}}</p>
      <ion-button fill="outline" slot="end" (click)="onClickView()">View</ion-button>
    </ion-label>
    
  </ion-item>
    <!-- fab placed to the bottom end -->
    <ion-fab vertical="top" horizontal="end" slot="fixed" style="top: 430px;">
      <ion-fab-button color="primary" (click)="onClickScrollToTop()">
        <ion-icon name="arrow-round-up"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <!-- fab placed to the top start -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="primary" (click)="onClickScrollToBottom()">
        <ion-icon name="arrow-round-down"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
