<app-header-back></app-header-back>

<ion-content padding fullscreen>
  <ion-item>
    <ion-label position="stacked">First Name</ion-label>
    <ion-input type="text" [(ngModel)]="user.firstname" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Last Name</ion-label>
    <ion-input type="text" [(ngModel)]="user.lastname" ></ion-input>
  </ion-item>  
  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input type="email" [(ngModel)]="user.email" ></ion-input>
  </ion-item>
 
  <ion-item>
    <ion-label position="stacked">Password</ion-label>
    <ion-input type="password" [(ngModel)]="user.password" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked"> Confirm Password</ion-label>
    <ion-input type="password" [(ngModel)]="confirm_password" ></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="addRegister()">Submit</ion-button>
</ion-content>
