<app-header-back></app-header-back>

<ion-content padding fullscreen>
  <ion-grid class="grid">
      <ion-row>
          <ion-col size="7">
          <h3 class="title-content">Your account</h3>
          </ion-col>
          <ion-col size="4">
          <ion-button class="ion-no-margin" size="small" shape="round" fill="outline" (click)="onClickEditProfile()"> Edit profie</ion-button>
          </ion-col>
      </ion-row>
  </ion-grid>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>{{activeMembre.firstname}} {{activeMembre.lastname}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="pin"></ion-icon>
      <ion-label>Montréal, QC</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon slot="start" name="checkmark-circle"></ion-icon>
      <ion-label>Topics followed : </ion-label>
    </ion-item>
    <!-- Example -->
    <ion-chip>
      <ion-icon name="basketball" color="primary"></ion-icon>
      <ion-label>Sport</ion-label>
      <ion-icon name="close"></ion-icon>
    </ion-chip>
    <ion-chip>
      <ion-icon name="beer" color="secondary"></ion-icon>
      <ion-label>Afterwork</ion-label>
      <ion-icon name="close"></ion-icon>
    </ion-chip>

    <ion-item lines="none">
      <ion-icon slot="start" name="checkmark-circle"></ion-icon>
      <ion-label>Groups followed : </ion-label>
    </ion-item>

    <!-- Example -->
    <ion-chip>
      <ion-icon name="basketball" color="primary"></ion-icon>
      <ion-label>Lorem ipsum dolor sit.</ion-label>
      <ion-icon name="close"></ion-icon>
    </ion-chip>
    <ion-chip>
      <ion-icon name="beer" color="secondary"></ion-icon>
      <ion-label>Lorem ipsum dolor sit.</ion-label>
      <ion-icon name="close"></ion-icon>
    </ion-chip>
  </ion-list>
</ion-content>
