<app-header></app-header>

<ion-content padding fullscreen>
    <ion-grid class="grid">
        <ion-row>
          <ion-col size="7">
            <h3 class="title-content">My settings</h3>
          </ion-col>
          <ion-col size="4">
            <ion-button size="small" shape="round" fill="outline" (click)="onClickSignOut()">Log Out<ion-icon class="icon-exit" name="exit"></ion-icon></ion-button>
          </ion-col>
        </ion-row>
    </ion-grid>
  <ion-list>
      <ion-item>
        <ion-button (click)="onClickYourAccount()">Your account</ion-button>
      </ion-item>
      <ion-item>
        <ion-button>Privacy</ion-button>
      </ion-item>
      <ion-item>
        <ion-button (click)="onClickAppsSettings()">Ergonomics application Settings</ion-button>
      </ion-item>
      <ion-item>
        <ion-toggle slot="end" color="primary"></ion-toggle>
        <ion-label>Notifications</ion-label>
      </ion-item>
      <ion-item>
        <ion-button>Managed Event</ion-button>  
      </ion-item>
      <ion-item lines="none">
        <ion-label>Version : 0.17.0</ion-label>
      </ion-item>
  </ion-list>
</ion-content>
