<app-header-back></app-header-back>

<ion-content padding fullscreen>
    <ion-searchbar color="primary" placeholder="Where ?"></ion-searchbar>
    <ion-list>
        <ion-item *ngFor="let eventCity of data">{{eventCity | async}}</ion-item>
    </ion-list>
</ion-content>
