ion-list>ion-item>ion-text {
    margin-right : 5px;
    font-size:18px;
    font-weight: bold;  
}
.button-search{
    font-size:18px;
    margin-right:-10px;
    margin-left:-5px;
}
.button-search ion-text {
  border-bottom: solid 2px var(--ion-color-primary);
  
}
.arrow-position{
    top:80%;
    right:77%;
}
.research-button{
    position: absolute;
    top: 10px;
    right: 55px;
    color:var(--ion-color-primary);
    line-height: 24px;
    padding: 4px 8px;
    border-radius: 4px;
}