<app-header-back></app-header-back>

<ion-content padding fullscreen>
  <ion-grid class="grid">

    <ion-row>
      <ion-list>
          <ion-item lines="none">
              <ion-text style="text-decoration: underline black">Search an event by name :</ion-text>
          </ion-item>
      </ion-list>
    </ion-row>
    <ion-row>
      <ion-searchbar color="primary" placeholder="Search a group by name"></ion-searchbar>
    </ion-row>

    <ion-row style="margin-top:10%">
      <ion-list>
          <ion-item lines="none">
              <ion-text style="text-decoration: underline black">Search an event by city :</ion-text>
          </ion-item>
      </ion-list>
    </ion-row>
    <ion-row>
      <ion-list lines="none">
        <ion-item>
          <ion-text>I search a in </ion-text><br>
          <ion-button fill="clear" class="button-search" (click)="onClickWhere()">
            <ion-text>Montréal </ion-text>
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-fab vertical="top" horizontal="end">
            <ion-label class="research-button">Research by city</ion-label>
            <ion-fab-button (click)="onClickArrow()">
              <ion-icon name="arrow-round-forward"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-item>
      </ion-list>
    </ion-row>

    <ion-row style="text-align: center">
        <ion-list>
            <ion-item lines="none">
                <ion-text style="text-decoration: underline black">Search an event by topics :</ion-text>
            </ion-item>
        </ion-list>
      <ion-col size="4" *ngFor="let topicCard of topics">
        <ion-card class="card-shadow">
            <img [src]="topicCard.picture" style="cursor: pointer;" (click)="onClickTopicCard($event)">
        </ion-card>
        <ion-label>{{topicCard.name}}</ion-label>
      </ion-col>
    </ion-row>
    </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-label class="research-button">Research by topics</ion-label>
    <ion-fab-button (click)="onClickArrow()">
      <ion-icon name="arrow-round-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>