<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="onClickBack()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Back</ion-title>
    <ion-text slot="end" class="header-toolbar-date">{{ dateNow | date:'EEEE d MMMM  H:mm' }}</ion-text>
  </ion-toolbar>
</ion-header>
