<app-header-back></app-header-back>

<ion-content padding fullscreen>
  <h3 class="title-content">Topics (XXX)</h3>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/img/mcgill.jpg">
    </ion-thumbnail>
    <ion-label>
      <h2 class="wrap">Afterwork McGill rgdgrg</h2>
      <p>{{ dateNow | date:'EEEE d MMMM - hh:mm' }}</p>
      <p>Jean-Talon ampithéatre centre Montréal</p>
      <ion-button fill="outline" slot="end" (click)="onClickView()">View</ion-button>
    </ion-label>
    
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/img/vue.jpg">
    </ion-thumbnail>
    <ion-label>
      <h2 class="wrap">Soirée spéciale Trantino</h2>
      <p>{{ dateNow | date:'EEEE d MMMM - hh:mm' }}</p>
      <ion-button fill="outline" slot="end" (click)="onClickView()">View</ion-button>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/img/vue.jpg">
    </ion-thumbnail>
    <ion-label>
      <h2 class="wrap">Soirée spéciale Trantino</h2>
      <p>{{ dateNow | date:'EEEE d MMMM - hh:mm' }}</p>
      <ion-button fill="outline" slot="end" (click)="onClickView()">View</ion-button>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/img/vue.jpg">
    </ion-thumbnail>
    <ion-label>
      <h2 class="wrap">Soirée spéciale Trantino</h2>
      <p>{{ dateNow | date:'EEEE d MMMM - hh:mm' }}</p>
      <ion-button fill="outline" slot="end" (click)="onClickView()">View</ion-button>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/img/vue.jpg">
    </ion-thumbnail>
    <ion-label>
      <h2 class="wrap">Soirée spéciale Trantino</h2>
      <p>{{ dateNow | date:'EEEE d MMMM - hh:mm' }}</p>
      <ion-button fill="outline" slot="end" (click)="onClickView()">View</ion-button>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/img/vue.jpg">
    </ion-thumbnail>
    <ion-label>
      <h2 class="wrap">Soirée spéciale Trantino</h2>
      <p>{{ dateNow | date:'EEEE d MMMM - hh:mm' }}</p>
      <ion-button fill="outline" slot="end" (click)="onClickView()">View</ion-button>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/img/vue.jpg">
    </ion-thumbnail>
    <ion-label>
      <h2 class="wrap">Soirée spéciale Trantino</h2>
      <p>{{ dateNow | date:'EEEE d MMMM - hh:mm' }}</p>
      <ion-button fill="outline" slot="end" (click)="onClickView()">View</ion-button>
    </ion-label>
  </ion-item>
  
    <!-- fab placed to the bottom end -->
    <ion-fab vertical="bottom" horizontal="start" slot="fixed">
      <ion-fab-button color="primary" (click)="onClickScrollToTop()">
        <ion-icon name="arrow-round-up"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  
    <!-- fab placed to the top start -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="primary" (click)="onClickScrollToBottom()">
        <ion-icon name="arrow-round-down"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
